.filmMob-wrapper {
  background-color: white;
  grid-area: main;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  .filmHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bigMobPoster {
      width: 60%;
    }
    .filmName {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .filmQuote {
        display: flex;
        max-width:70%;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.7em;
      }
    }
    .filmScore {
      font-size: 1.2em;
      margin-top: 2%;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: space-around;
    }
  }
  .film {
    margin: 4% 0 4% 0;
    width: 100%;
    #yohoho {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .filmDescription {
    text-align: center;
    font-size: 1.4em;
    padding: 2% 2% 4% 2%;
    background-color: lightgrey;
  }
  .filmFacts {
    font-size: 1.2em;
    padding: 5%;
    background-color: lightgreen;
  }
  .similar-wrapper {
    .similar-header {
      display: flex;
      justify-content: center;
    }
    .anotherFilms {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      flex-wrap: wrap;
      .card {
        width: 120px;
        height: 250px;
      }
    }
  }
}

.factsInfo {
  background-color: rgb(255, 243, 204);
  width: 50%;
  text-align: center;
  padding: 3%;
  font-size: 1.3em;
  border: 1px solid black;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.flags {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  .flag {
    border: 1px solid black;
    width: 70px;
  }
}
