@import "./main.scss";
$mob-width: 600px;

.spinner {
	margin: 50% auto;
}
.film-wrapper {
	background-color: white;
	grid-area: main;
	width: 100%;
	height: 100%;
	padding-top: 2%;
	@media screen and (max-width: $mob-width) {
		padding-top: 20%;
	}
	.filmHeader {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.poster-wrapper {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			@media screen and (max-width: $mob-width) {
				margin-bottom: 27%;
			}
			.poster-bg {
				width: 82%;
				height: 62%;
				position: absolute;
				//background-image: url(" insert from js ");
				background-repeat: no-repeat;
				background-position: 50%;
				background-size: 100%;
				//z-index: 0;
				filter: blur(15px);
				opacity: 0.9;
				@media screen and (max-width: $mob-width) {
					width: 100%;
					height: 70%;
				}
			}
			.poster-img {
				max-width: 25%;
				position: relative;
				border: 1px solid black;
				@media screen and (max-width: $mob-width) {
					max-width: 60%;
				}
			}
		}
		.filmName {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			z-index: 1;
			.filmQuote {
				font-size: 0.75em;
				@media screen and (max-width: $mob-width) {
					display: flex;
					max-width: 70%;
					justify-content: center;
					align-items: center;
					text-align: center;
					font-size: 0.7em;
				}
			}
		}
		.filmScore {
			font-size: 1.3em;
			margin-top: 2%;
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: space-around;
			text-align: center;
			@media screen and (max-width: $mob-width) {
				font-size: 1.6em;
				flex-direction: column;
				align-items: center;
			}
		}
		.filmGenre {
			font-size: 1em;
			margin-top: 2%;
			display: flex;
			width: 100%;
			justify-content: space-evenly;
			align-items: center;
			@media screen and (max-width: $mob-width) {
				display: none;
			}
			.labelOut {
				filter: drop-shadow(5px 6px 3px rgba(50, 50, 50, 1));
				position: relative;
				background: tomato;
				min-width: 10%;
				height: 50px;
				max-width: 150px;
				width: 100%;
				clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
				background-color: black;
				filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
			}
			.labelIn {
				clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				font-size: 1.1em;
				top: 3px;
				left: 3px;
				right: 3px;
				bottom: 3px;
				background-color: rgb(252, 211, 136);
			}
		}
	}
	.film {
		margin: 4% 0;
		width: 100%;
		#yohoho {
			max-width: 100%;
			max-height: 100%;
		}
	}
	.filmDescription {
		text-align: center;
		font-size: 1.3em;
		padding: 2% 2% 4% 2%;
		background-color: #d8dae3; //lightgrey;
		@media screen and (max-width: $mob-width) {
			font-size: 1.4em;
		}
	}
	.filmFacts-wrapper {
		.factsInfo {
			background-color: rgb(252, 211, 136); //rgb(255, 243, 204);
			width: 35%;
			font-size: 1.3em;
			text-align: center;
			padding: 4%;
			border: 1px solid black;
			border-radius: 2%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 5% auto;
			cursor: pointer;
			@media screen and (max-width: $mob-width) {
				width: 70%;
				padding: 3%;
				font-size: 1.4em;
			}
		}
		.filmFacts {
			font-size: 1.1em;
			margin: 2% 2% 4% 2%;
			padding: 5%;
			background-color: lightgreen;
			@media screen and (max-width: $mob-width) {
				font-size: 1.2em;
				margin: 0;
			}
		}
	}
	.similar-wrapper {
		.similar-header {
			display: flex;
			justify-content: center;
			text-align: center;
		}
		.similar-content {
			display: flex;
			justify-content: space-around;
			align-items: baseline;
			flex-wrap: wrap;
			margin-bottom: 2%;
			@media screen and (max-width: $mob-width) {
				margin: 0;
			}
			.card {
				width: 120px;
				height: 250px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	.controls {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 3%;
		.controls-more,
		.controls-home {
			@include mainButton;
			font-size: 1.1em;
		}
	}
}

.flags {
	display: inline-flex;
	justify-content: center;
	text-align: center;
	.flag {
		border: 1px solid black;
		width: 70px;
		font-size: 0.5em;
	}
}
