@import "../App.scss";

.footer-wrapper {
	background-color: $main-color;
	grid-area: footer;
	width: 100%;
	padding: 2% 0 2% 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	span,
	.copy-link {
		a {
			color: white;
		}
		color: white;
		text-decoration: none;
		margin-left: 5%;
	}
	@media screen and (max-width: 550px) {
		font-size: 0.8em;
		min-height: 30px;
	}
}
