.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:2% 0 2% 0;
    margin:0;
    background-color:#2d323c;
    grid-area: header;
    .header-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        width:50%;
        height:100%;
            .logo {
                max-block-size: 3.6em;//70px;
            }
            span {
            font-family: vis;
            font-size: 3.5em;
            letter-spacing: 0.4em;
            margin-left: 2%;
            color:white;
            }
    }
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        width:50%;
        height:100%;
        .searchBar{
            width:50%;
            height:70%;
            border-radius: 5%;
            font-size: 1.6em;
        }
        .searchButton {
            height:70%;
            width:15%;
            display:flex;justify-content: center;align-items: center;
            font-size: 1.4em;
            margin-left:2%;
            padding:0.1em;
            color:white;
            background: linear-gradient(90deg, #FF3300, #3f19c7);
            border-radius: 5%;
            &:hover {
                animation: gradiSearch .1s linear;
                animation-fill-mode:both;
            }
        }
    }
    .recommend {
            height:70%;
            width:20%;
            display:flex;justify-content: center;align-items: center;
            font-size: 1.4em;
            margin-left:2%;
            padding:0.1em;
            text-decoration-color: white;
            color:white;
            background: linear-gradient(90deg, #3f19c7,#FF3300);
            border-radius: 5%;
            &:hover {
                animation: gradiRec .1s linear;
                animation-fill-mode:both;
            }
    }
}
@keyframes gradiRec {
    from {
        background: linear-gradient(90deg, #3f19c7,#FF3300);
    }
    40% {
        background: linear-gradient(150deg, #3f19c7,#FF3300);
    }
    80% {
        background: linear-gradient(210deg, #3f19c7,#FF3300);
    }
    to {
        background: linear-gradient(270deg, #3f19c7,#FF3300);
    }
}
@keyframes gradiSearch {
    from {
        background: linear-gradient(90deg, #FF3300, #3f19c7);
    }
    40% {
        background: linear-gradient(150deg, #FF3300, #3f19c7);
    }
    80% {
        background: linear-gradient(210deg, #FF3300, #3f19c7);
    }
    to {
        background: linear-gradient(270deg, #FF3300, #3f19c7);
    }
}