@import "../App.scss";

.headerMob-wrapper {
	@media screen and (min-width: 550px) {
		display: none;
	}
	margin-bottom: 10%;
	.headerMob {
		width: 100vw;
		height: 9vh;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: row;
		padding: 2vw;
		background-color: $main-color;
		grid-area: header;
		color: white;
		z-index: 3;
		.header-brand {
			display: flex;
			align-items: center;
			justify-content: center;
			align-items: center;
			max-width: 50%;
			height: 100%;
			.logo {
				max-block-size: 2.5em; //70px;
			}
			span {
				font-family: vis;
				font-size: 2.5em;
				letter-spacing: 0.4em;
				margin-left: 2%;
				color: white;
				@media screen and (max-width: 375px) {
					font-size: 2em;
				}
			}
		}
		.hamburgerButton {
			width: 2.5rem;
			border-radius: 0.25rem;
			color: white;
			white-space: nowrap;
			text-decoration: none;
			padding: 0.25rem 0.5rem;
			margin: 0.25rem;
			cursor: pointer;
			background-color: white;
			.logo {
				color: white;
			}
		}
		.hamburger-icon {
			width: 3em;
			height: 3em; //2.5em;
			//border: 8px solid green;
			position: relative;
			transform: rotate(0deg);
			transition: 0.5s ease-in-out;
			cursor: pointer;
			span {
				display: block;
				position: absolute;
				height: 8px;
				width: 100%;
				//background: rgb(187, 152, 86);
				background: white;
				border-radius: 9px;
				opacity: 1;
				left: 0;
				transform: rotate(0deg);
				transition: 0.25s ease-in-out;
				&:nth-child(1) {
					top: 0px;
				}
				&:nth-child(2),
				&:nth-child(3) {
					top: 16px;
				}
				&:nth-child(4) {
					top: 32px;
				}
			}
		}
		.open {
			span {
				&:nth-child(1),
				&:nth-child(4) {
					top: 16px;
					width: 0%;
					left: 50%;
				}
				&:nth-child(2) {
					transform: rotate(45deg);
				}
				&:nth-child(3) {
					transform: rotate(-45deg);
				}
			}
		}
	}

	.hamburger-links {
		display: none;
		position: absolute;
		top: 9%;
		z-index: 2;
		width: 100%;
		height: 24%;
		padding-top: 5%;
		background-color: #2d323c;
		.mobSearch {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;
			background-color: inherit;
			padding: 10%;
			border-radius: 2%;
			width: 80%;
			.mobSearchBar {
				height: 100%;
				width: 100%;
				border-radius: 5%;
				font-size: 1.4em;
			}
			.mobSearchButton {
				position: relative;
				width: 50%;
				margin-top: 4%;
				font-size: 1.4em;
				display: flex;
				justify-content: center;
				align-items: center;
				//margin-left:2%;
				padding: 0.5em;
				color: white;
				background: linear-gradient(90deg, #ff3300, #3f19c7);
				border-radius: 2%;
				&:hover {
					animation: gradiSearch 0.1s linear;
					animation-fill-mode: both;
				}
			}
		}
	}
}
