.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:2% 0 2% 0;
    margin:0;
    background-color:#2d323c;
    grid-area: header;
}

.header-brand {
    display: flex;
    
}

.search {
}