@import '../App.scss';

.main-wrapper {
  background-color: white;
  grid-area: main;
  width: 100%;
  height: 100%;
  padding: 2% 0 2% 0;
  .pageListButton {
    height: 100%;
    background-color: $second-color;
    border-radius: 5%;
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color:white;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.20s;
    &:hover {
      text-shadow: 0 0 2em rgba(255, 255, 255, 1);
      color: #ffffff;
      border-color: #ffffff;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    @media screen and (max-width: 550px) {
      width: 40%;
      height:60px;
      padding: 0;
    }
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-around;
  @media screen and (max-width: 550px) {
    width: 100vw;
    margin: 0 auto;
    margin-top: 15%;
    align-items: baseline;
  }
}