@import "../App.scss";

.main-wrapper {
	grid-area: main;
	width: 100%;
	height: 100%;
	padding: 2% 0 2% 0;
	.notFound {
		display: none;
		width: 100%;
		height: 30%;
		padding-top: 10%;
		font-size: 1.4em;
		text-align: center;
		span {
			border: 1px solid #000;
			border-radius: 2%;
			padding: 4%;
		}
		button {
			@include mainButton;
			margin-top: 10%;
			font-size: 1em;
			height: max-content;
		}
	}

	.cards {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
		align-content: space-around;
		@media screen and (max-width: 550px) {
			width: 100vw;
			margin: 0 auto;
			margin-top: 15%;
			align-items: baseline;
		}
	}
	.pageListWrapper {
		.pageListButton {
			@include mainButton;
		}
	}
}
