@import "../App.scss";

.main-wrapper {
	background-color: white;
	grid-area: main;
	width: 100%;
	height: 100%;
	padding: 2% 0 2% 0;
	.pageListButton {
		@include mainButton;
	}
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: space-around;
	@media screen and (max-width: 550px) {
		width: 100vw;
		margin: 0 auto;
		margin-top: 15%;
		align-items: baseline;
	}
}
