.sidebar-wrapper {
    background-color:#2d323c;
    border-left: 1px solid black;
    grid-area: sidebar;
    .genre-card,.sidebar-header {
        display:flex;
        justify-content: center;
        align-items: center;
        border:1px solid white;
        color:white;
    }
    .sidebar-header {
        background-color:#ac5f12;
    }
    .genre-card {
        &:hover {
            animation: asideHover .1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
            animation-fill-mode:both;
            animation-direction:alternate;
        }
    }
}

@media screen and (max-width: 450px) {
    .sidebar-wrapper{
        display: none;
    }
}

@keyframes asideHover {
    0% {
        background-color:#2d323c;
    }
    100%{
        background-color:#445a86;
    }
}