@import "../App.scss";

.sidebar-wrapper {
	background-color: $main-color;
	border-left: 1px solid black;
	grid-area: sidebar;
	z-index: 1;
	.genre-card,
	.sidebar-header {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid white;
		color: white;
		h3 {
			letter-spacing: 2px;
		}
	}
	.sidebar-header {
		background-color: $second-color;
	}
	.genre-card {
		background-color: $main-color;
		transition: all 0.1s ease-in;
		h3 {
			letter-spacing: 2px;
		}
		&:hover {
			background-color: $third-color;
		}
	}
}

@media screen and (max-width: 550px) {
	.sidebar-wrapper {
		display: none;
		position: absolute;
		top: 33%;
		width: 100%;
		padding-top: 5%;
	}
}

@keyframes asideHover {
	0% {
		background-color: #2d323c;
	}
	100% {
		background-color: $third-color//#445a86;
	}
}
