.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;/*auto 1fr auto;*/
  grid-template-areas:  
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
}